@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}


.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel.scss';

// @media screen and (max-width: 991px) {
//     .promo {
//         background-size: cover;
//     }
// }

@media (max-width: 768px) {
    .header {
        // flex-direction: column;
        &__official {
            margin-top: 14px;
        }
        &__phone {
            margin-top: 14px;
        }
    }
    .advantages__desc_text {
        width: 230px;
        font-size: 12px;
    }
}

@media (max-width: 670px) {
    .header {
        flex-direction: column;
    }
    .promo__warpper  {
        margin-top: 50px;
        align-items: center;
    }
    .promo__header {
        font-size: 31px;
        text-align: center;
    }
    .promo__subheader {
        margin-top: 3px;
        font-size: 18px;
        text-align: center;
    }
    .promo__icon {
        margin-left: 0;
        font-size: 12px;
    }
    .advantages {
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        &__header {
            margin-top: 40px;
            font-size: 25px;
            text-align: center;
        }
        &__icon {
            img {
                margin-top: 15px;
            }
        }
        &__desc {
            &_header {
                margin-top: 8px;
            }
            &_text {
                margin-top: 8px;
            }
        }

    }
    .consultation {
        margin-top: 30px;
        padding-top: 30px;
        &__head {
            padding-top: 60px;
            font-size: 26px;
            text-align: center;
        }
        &__text {
            width: 95%;
            margin-top: 50px;
            text-align: center;
        }
    }
    .feed-form {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
    }
}